html {
    scroll-behavior: smooth;
    font-family: tanoma;


  }
  body {
    margin: 0%;
  }
 
  

  
  ul {
    list-style: none;
    height: 100%;
    width: 100px;
    position: fixed;
    top:0; left:0;
    background: black;
    margin:0;
    box-shadow: 2px 0px 2px black;
    padding: 0%;

  }
  ul li {
    margin:5px;
    padding :5px;
    margin-top:75px;

  }
 ul li a {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: pink;

 }


 
 ul li a:hover{
  
  color: white;
  
 }
section {
    height:100vh;
    width: 100vm;
    display:flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
#home {
     
     background-color: #001C30;
}
#contacts {
    background-color:#176B87
}
#information {
    background-color: #64CCC5;
}
#guide {
    background-color:#DAFFFB ;
}